################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Puppy
/bin/Debug/net8.0
/obj
/Puppy.csproj
/Puppy.sln
/.vs/ProjectEvaluation
